.BucketTable {
  background-color: white;
}

.BucketTable-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BucketTable-hidden {
  visibility: hidden;
}

.BucketTable table {
  width: 100%;
  border: 0.3vw solid black;
  text-align: left;
}

.BucketTable thead {
  background-color: #cccccc;
  border: 0.3vw solid black;
}

.BucketTable-tr:hover {
  background-color: #cccccc;
}

.BucketTable-navLink {
  color: black;
  text-decoration: none;
}

.BucketTable-navLink:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
