.BucketCreate {
  background-color: white;
}

.BucketCreate-itemsWrapper {
  display: flex;
  justify-content: space-between;
}

.BucketCreate-formItem {
  display: flex;
  flex-direction: column;
}

.BucketCreate-formLabel {
  font-weight: bold;
}
