.BucketListTable {
  background-color: white;
}

.BucketListTable-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BucketListTable-hidden {
  visibility: hidden;
}

.BucketListTable table {
  width: 100%;
  border: 0.3vw solid black;
  text-align: left;
}

.BucketListTable thead {
  background-color: #cccccc;
  border: 0.3vw solid black;
}

.BucketListTable-tr:hover {
  background-color: #cccccc;
}

.BucketListTable-navLink {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}

.BucketListTable-navLink:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
