.App {
  display: flex;
  flex-direction: column;
}
.App-banner {
  margin: 0;
  font-size: 2vw;
  background-color: #666666;
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
}

.App-link:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
