.BucketDetails {
  position: relative;
  min-height: 15vw;
  background-color: white;
}

.BucketDetails-button {
  position: absolute !important;
  right: 0;
  bottom: calc(100% + 10px);
}

.BucketDetails-dataList dd {
  display: block;
}

.BucketDetails-dataList dt {
  width: 150px;
  display: block;
  float: left;
  text-align: right;
  font-weight: normal;
}

.BucketDetails-dataList dt::after {
  content: ":";
  margin-right: 30px;
}
